@font-face {
    font-family: Rejouice-headline;
    src: url(./fonts/Rejouice-Headline.ttf);
}
@font-face {
    font-family: nb;
    src: url(./fonts/NBInternationalProBoo.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: nb;
}

html,body{
    width: 100%;
    height: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FC5819;
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    transform: translate(-50%, -50%);
}

#cursor h4{
    font-weight: 100;
    font-size: 1vw;
    
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#overlay{
    height: 100vh;
    width: 100%;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.164);
    position: absolute;
}

#page1-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    
}
#page1-content nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh;
}

nav h3{
    font-size: 2vh;
    color: #FAF8F3;
    font-weight: 400;
}

nav a{
    text-decoration: none;
    color: #FAF8F3;
    font-size: 2vh;
    font-weight: 400;
}

#page1-content>h1 span{
    font-size: 26vw;
    color: #FAF8F3;
    font-weight: 400;
    line-height: 20vw;
    font-family: Rejouice-headline;
}

#page2{
    position: relative;
    height: 70vh;
    width: 100%;
    padding: 8vh 7vh;
}

#p2-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#p2-top h4{
    font-weight: 100;
    font-size: 1.5vw;
}

#p2-line{
    margin-top: 2vh;
    width: 100%;
    height: 0.5px;
    background: rgba(0, 0, 0, 0.445);
}
#p2-mid{
    overflow: hidden;
    margin-top: 1.5vh;
}
#p2-mid .elemh4{
    font-size: 4vw;
    font-weight: 400;
    overflow-y: hidden;
    line-height: 1;
}

#page3{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 8vh 4.5vh;
}

#page3-top{
    text-align: center;
    justify-content: center;
}

#page3-top h5{
    align-items: center;
    font-size: 1.2vw;
    font-weight: 300;
    padding-bottom: 2vh;
}

#page3-top h5 span{
    font-size: .8vw;
    background-color: black;
    padding: 2px 6px;
    color: #FAF8F3;
    border-radius: 10px;
}

#page3-top #h5{
    display: flex;
    align-items: center;
    justify-content: center;
}

#h5 i{
    font-size: 1.1vw;
    padding-bottom: .5vh;
    opacity: .7;
}

#page3-top h1{
    font-size: 4vw;
    font-weight: 400;
}

#text{
    margin-top: 15vw;
    display: flex;
    justify-content: space-between;
}

#text h6{
    font-weight: 100;
    font-size: 1.5vw;
}

#text #left-t{
    display: flex;
    align-items: center;
}

#page3-elements{
    margin-top: 1.5vw;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

#page3-elements .box{
    height: 100%;
    width: 32.5%;
    position: relative;
}

.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.8s linear;
    object-position: center;
}

#page3-elements .box:hover img{
    opacity: 0;
}


#page4{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 8vh 4.5vh;
}

#p4-top{
    width: 100%;
}

#p4-top h4{
    font-weight: 100;
    font-size: 1.5vw;
}

#p4-line{
    margin-top: 2vh;
    width: 100%;
    height: 0.5px;
    background: rgba(0, 0, 0, 0.445);
}

#p4-mid{
    margin-top: 1.5vh;
    overflow: hidden;
}

#p4-mid .elemh5{
    overflow-y: hidden;
    font-size: 4vw;
    line-height: 1;
    font-weight: 400;
}
#cursorblack h6{
    font-weight: 100;
    font-size: 1.2vw;
    color:white
}

#page4 #gradient-video{
    padding-top: 5vh;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gradient-video>video{
    height: 100%;
}

#gradient-video>svg{
    position: absolute;
    height: 30%;
}

#videotext{
    position: absolute;
    text-align: center;
    color: #FAF8F3;
}

#videotext>h6{
    font-size: 4vw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    padding: 8vh 4.5vh;
}

#p5-top{
    width: 100%;
}

#p5-top h4{
    font-weight: 100;
    font-size: 1.5vw;
}

#p5-line{
    margin-top: 2vh;
    width: 100%;
    height: 0.5px;
    background: rgba(0, 0, 0, 0.445);
}

#p5-mid{
    margin-top: 1.5vh;
    overflow: hidden;
}

#p5-mid .elemh6{
    overflow-y: hidden;
    font-size: 4vw;
    line-height: 1.1;
    font-weight: 400;
}

#content5{
    position: relative;
    margin-top: 5vw;
    height: 12vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid black;
}
#content5>h1{
    font-size: 10vw;
    font-weight: 500;
    font-family: Rejouice-headline;

}

#content #lf5{
    padding-bottom: 5vw;
    width: 50%;
    display: flex;
}