@font-face {
    font-family: Rejouice-headline;
    src: url(./fonts/Rejouice-Headline.ttf);
}
@font-face {
    font-family: nb;
    src: url(./fonts/NBInternationalProBoo.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: nb;
}

html,body{
    width: 100%;
    height: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FC5819;
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    transform: translate(-50%, -50%);
}

#cursor h4{
    font-weight: 100;
    font-size: 1vw;
    
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#overlay{
    height: 100vh;
    width: 100%;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.164);
    position: absolute;
}

#page1-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    
}
#page1-content nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh;
}

nav h3{
    font-size: 2vh;
    color: white;
    font-weight: 400;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 2vh;
    font-weight: 400;
}

#page1-content>h1 span{
    font-size: 26vw;
    color: white;
    font-weight: 400;
    line-height: 20vw;
    font-family: Rejouice-headline;
}

#page2{
    position: relative;
    height: 70vh;
    width: 100%;
    padding: 8vh 5vh;
}

#p2-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#p2-top h4{
    font-weight: 100;
    font-size: 1.5vw;
}

#p2-line{
    margin-top: 2vh;
    width: 100%;
    height: 0.5px;
    background: rgba(0, 0, 0, 0.445);
}
#p2-mid{
    margin-top: 1.5vh;
}
#p2-mid h4{
    font-size: 4vw;
    font-weight: 400;
    overflow-y: hidden;
}

#page3{
    min-height: 100vh;
    width: 100%;
}